<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.nanjing.weather.dao.StationsMapper">

    <select id="findAll" resultType="com.nanjing.weather.domain.Stations">
        select * from stations ;
    </select>

    <select id="findStationsByid" parameterType="String" resultType="com.nanjing.weather.domain.Stations">
        select * from stations where  id=#{id};
    </select>

    <insert id="add" parameterType="com.nanjing.weather.domain.Stations">

        INSERT INTO `stations` (`id`, `name`, `province`, `city`, `county`, `level`, `longtitude`, `latitude`, `create_time`)
        VALUES (#{id}, #{name}, #{province}, #{city}, #{county},#{town},#{address}, #{level}, #{longtitude}, #{latitude}, #{create_time});
    </insert>

    <delete id="delete" parameterType="String">
         delete from stations where  id=#{id};
    </delete>

    <update id="update" parameterType="com.nanjing.weather.domain.Stations">
        UPDATE `stations` SET `id`=#{id}, `name`=#{name}, `province`=#{province}, `city`=#{city}, `county`=#{county}, `level`=#{level}, `longtitude`=#{longtitude}, `latitude`=#{latitude}, `create_time`=#{create_time} WHERE id=#{id};
    </update>
</mapper>