.width100{
    width: 100%;
}
.content{
    position: relative;
}
.aerological{
    text-align: left;
}
.aerological-interval{
    margin-left: 25px;
}
.aerological-select{
    width: 82px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
}
.aerological-select span{
    height: 28px;
    padding-left: 10px;
    display: block;
    text-align: left;
    line-height: 28px;
    position: relative;
    cursor: pointer;
    border: 1px solid #4287b0;
    background: #0f678f;
}
.aerological-select span:after{
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    top: 11px;
    right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: url(../images/select-arrow.png) no-repeat;
}
.aerological-select span.select-arrow:after{
    background: url(../images/select-arrow-open.png) no-repeat;
}
.aerological-select ul{
    width: 82px;
    margin-top: 3px;
    display: none;
    border: 1px solid #95B8E7;
    position: absolute;
    z-index: 999;
    background: #ffffff;
}
.aerological-select ul li{
    padding-left: 15px;
    line-height: 26px;
    text-align: left;
    color: #b1b1b1;
    cursor: pointer;
    border-bottom: 1px solid #eeeeee;
}

.export{
    font-family: "Microsoft YaHei" ! important;
}

.pause{
    font-family: "Microsoft YaHei" ! important;
}

.play{
    font-family: "Microsoft YaHei" ! important;
}

.aerological-select{
    font-family: "Microsoft YaHei" ! important;
}

.aerological-select ul li:hover,
.aerological-select ul li.action{
    background: #e0edff;
}
.aerological-play{
    width: 70px;
    height: 28px;
    line-height: 23px;
    margin-top: 10px;
    margin-left: 6px;
    display: inline-block;
}
.aerological-pause{
    background: url("../images/icon-pause.png") no-repeat #0f678f 49px 8px;
}
.aerological-play button{
    width: 70px;
    height: 28px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #4287b0;
    color: #ffffff;
    cursor: pointer;
}
.aerological-play button.play{
    display: none;
    background: url("../images/icon-pause.png") no-repeat #0f678f 49px 8px;
}
.aerological-play button.pause{

    background: url("../images/icon-play.png") no-repeat #0f678f 49px 8px;
}
.hour-select{
    width: 128px;
    position: relative;
    float: left;
}
.hour-select ul{
    height: 400px;
    overflow: auto;
    position: absolute;
    left: 24px;
    top: 25px;

}

.hour-select .interval-arrow{
    width: 24px;
    height: 28px;
    border: 1px solid #4287b0;
    background: #0f678f;
}
.hour-select .interval-prev{
    border-right: 0;
    background: url("../images/interval-prev.png") no-repeat center center #0f678f;
}
.hour-select .interval-next{
    border-left: 0;
    background: url("../images/interval-next.png") no-repeat center center #0f678f;
}
.arrow-hide{
    width: 80px;
}
.arrow-hide .interval-prev,
.arrow-hide  .interval-next{
    display: none;
}
.arrow-hide ul{
    left: 0;
}
.element-select{
    width: 80px;
    float: left;
}
.element-select span{
    padding-left: 9px;
}
.minute-element,
.minute-element30{
    display: none;
}
.broad-hour-select{
    margin-right: 10px;
    display: none;
}

.detail{
    width: 79.8%;
    margin-top: 35px;
    margin-left: 35px;
}
.detail h2{
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: #1fb3ff;
    font-size: 18px;
}
.detail-overview{
    width: 100%;
    height: 651px;
    overflow: hidden;
    position: relative;
}
.detail-overview ul{
    position: absolute;
    left: 0;
    top: 0;
}
.detail-overview ul li{
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    display: none;
}
.detail-overview ul li div{
    width: 100%;
    height: 100%;
    display: table;
}
.detail-overview ul li div div{
    display: table-cell;
    vertical-align: middle;
}
/*.detail-overview ul li img{
    width: 100%;
    height: 100%;
}*/
.detail-txt{
    position: relative;
}
.detail-slide{
    width: 100%;
    position: relative;
}
.detail-tab{
    width: 92%;
    height: 114px;
    margin: 20px auto 18px auto;
    overflow: hidden;
    position: relative;
    font-size: 0;
}
.detail-tab ul {
    position: absolute;
    left: 0;
    top: 0;
}
.detail-slide ul li{
    width: 140px;
    min-width: 100px;
    margin-left: 1px;
    display: inline-block;
    cursor: pointer;
}
.detail-slide ul li div{
    width: 90%;
    margin: 0 auto;
}
.detail-tab ul li p{
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #26668a;
}
.detail-tab ul li img{
    min-height: 60px;
    height: 114px;
}
.detail-tab ul li.action img{
    border: 7px solid #1fb3ff;
}
.slide-arrow{
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    border: 1px solid #4287b0;
}
.arrow-left{
    left: 0;
    background: url("../images/interval-prev.png") no-repeat center center #0f678f;
}
.arrow-right{
    right: 0;
    background: url("../images/interval-next.png") no-repeat center center #0f678f;
}
.aerological-right{
    width: 270px;
    height: 100%;
    position: absolute;
    top: 52px;
    right: 0;
}
.aerological-panel{
    width: 248px;
    margin: 20px auto 0 auto;
    position: relative;
    border: 1px solid #26668a;
}
.aerological-panel h2{
    padding-left: 47px;
    line-height: 32px;
    font-size: 16px;
    background: url("../images/icon-aera.png") no-repeat 25px #26668a;
}
.area-select,
.direction-select{
    padding: 24px 0 14px 24px;
}
.area-select a{
    width: 60px;
    height: 28px;
    margin-bottom: 10px;
    line-height: 28px;
    float: left;
    text-align: center;
    border: 1px solid #4287b0;
    color: #ffffff;
}
.area-select a:nth-of-type(2),
.area-select a:nth-of-type(5){
    margin: 0 10px;
}
.area-select a.action,
.area-select a:hover{
    border: 1px solid #1fb3ff;
    background: #1fb3ff;
}
.product h2{
    background: url("../images/icon-product.png") no-repeat 25px #26668a;
}
.product-select{
    padding: 24px 0 7px 24px;
    display: none;
}
.direction{
    display: none;
}
.product-select a,
.direction-select a{
    margin-bottom: 15px;
    padding-left: 20px;
    color: #ffffff;
    background: url("../images/radio.png") no-repeat left;
}
.product-select a.action,
.direction-select a.action{
    background: url("../images/radioed.png") no-repeat left;
}
.aside .level-radar.action .aside-title,
.aside .level-broad.action .aside-title,
.aside .level-microwave.action .aside-title,
.aside .level-gps.action .aside-title,
.aside .level-raindrop.action .aside-title{
    background: #1FB3FF;
}
.aside .level-radar .aside-title,
.aside .level-broad .aside-title,
.aside .level-microwave .aside-title{
    background: none;
}
.aside .level-radar:hover .aside-title,
.aside .level-broad:hover .aside-title,
.aside .level-microwave:hover .aside-title{
    background: #1FB3FF;
}

.other-buttons {
    width: 70px;
    height: 28px;
    line-height: 23px;
    margin-top: 10px;
    margin-left: 6px;
    display: inline-block;
}

.other-buttons button {
    width: 70px;
    height: 28px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #4287b0;
    color: #ffffff;
    cursor: pointer;
}

.other-buttons button.export {
    background: url(../images/import.png) no-repeat #0f678f 49px 8px;
}