.width100{
    width: 100%;
}

.aside-right{
    top: 42px;
    right: 0;
    border-left: 1px solid #dddddd;
}

.content{
    position: relative;
}

.operate {
    width: 100%;
}

.operate-text{
    float: left;
    background: url("../images/block-line.png") no-repeat right;
}

.operate-control{
    width: 29px;
    height: 26px;
    float: left;
}

.control-button{
    background: url("../images/icon-pause.png") no-repeat center center;
}

.suspend-button {
    background: url("../images/icon-play.png") no-repeat center center;
}

.export-button{
    background: url("../images/icon-export.png") no-repeat center center;
}

.speed-text{
    float: left;
    background: url("../images/block-line.png") no-repeat right;
}

.speed-select{
    float: left;
}

.speed-select a{
    padding: 0 8px;
    float: left;
    background: url("../images/block-line.png") no-repeat right;
}

.detail{
    width: calc(100% - 285px);
    background: #fbfbfb;
}
.detail h2{
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: #1fb3ff;
    font-size: 18px;
}
.detail-overview{
    width: 100%;
    height: 651px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px dotted #e0e0e0;
    background: #ffffff;
}
.detail-overview ul{
    height: 100%;
}
.detail-overview ul li{
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
}
.detail-overview ul li div{
    width: 100%;
    height: 100%;
    display: table;
}
.detail-overview ul li div div{
    display: table-cell;
    vertical-align: middle;
}
.detail-txt{
    position: relative;
}
.detail-slide{
    width: 100%;

    margin: 0 35px;
    position: relative;
    overflow: hidden;
    float: left;
}
.detail-tab{
    width: 100%;
    height: 165px;
    overflow: hidden;
    position: relative;
}
.detail-tab ul {
    width: 40000px;
    height: 117px;
   /* padding-left: 80px;*/
    position: absolute;
    left: 0;
    top: 24px;
    z-index: 1;
}
.detail-tab ul li{
    width: 140px;
    float: left;
    display: inline-block;
}
.detail-tab ul li div{
    width: 86%;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: 0 0 15px #f2f2f2;
    -moz-box-shadow: 0 0 15px #f2f2f2;
    box-shadow: 0 0 15px #f2f2f2;
}
.detail-tab ul li p{
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #838383;
    border-top: 1px solid #f1f1f1;
}
.detail-tab ul li img{
    width: 100%;
    height: 91px;
}

.detail-tab ul li.action{
    margin-top: -2px;
}

.detail-tab ul li.action div{
    border: 4px solid #faa71b;
}

.slide-arrow{
    width: 70px;
    height: 100%;
    float: left;
    position: relative;
    z-index: 10;
    background: #fbfbfb;
}

.slide-arrow a{
    width: 30px;
    height: 117px;
    margin-top: 24px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #d5d5d5;
    -webkit-box-shadow: 0 0 15px #f2f2f2;
    -moz-box-shadow: 0 0 15px #f2f2f2;
    box-shadow: 0 0 15px #f2f2f2;
}

.slide-arrow img{
    margin-top: 50px;
}

.arrow-right{
    width: 60px;
    float: right;
}

.arrow-right a{
    margin-left: 12px;
}

.layer-load {
    color: #1eaff8;
    font-size: 16px;
    position: absolute;
    left: 48%;
    top: 350px;
    z-index: 111;
}

.area-list{
    padding: 20px 0;
    background: url("../images/area-bg.png") repeat-x;
}

.area-list ul{
    width: 245px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-right: 1px solid #d5d5d5;
}

.area-list ul li{
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    color: #838383;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #d5d5d5;
    background: url("../images/operate-bg.png") repeat-x;
}

.area-list ul li:after{
    content: '';
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/block-line.png") no-repeat;
}

.area-list ul li.action{
    color: #ffffff;
    border-bottom: 0;
    background: url("../images/block-bged.png") repeat-x;
}

.area-list ul li.action:after{
    background: none;
}

.product-list{
    padding: 20px 0;
    background: url("../images/product-bg.png") repeat-x;
}

.product-border{
    width: 244px;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    border-right: 1px solid #d5d5d5;
}

.product-list a {
    width: 81px;
    height: 28px;
    line-height: 28px;
    float: left;
    text-align: center;
    color: #838383;
    font-size: 14px;
    position: relative;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.product-list a:after{
    content: '';
    width: 2px;
    height: 28px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/block-line.png") no-repeat;
}

.product-list a.action{
    color: #ffffff;
    z-index: 10;
}

.product-list a.action:after {
    width: 100%;
    top: -1px;
    z-index: -1;
    background: url("../images/block-bged.png") repeat-x;
}

.direction-list{
    background: url("../images/direction-bg.png") repeat-x;
}

.direction-list .product-border{
    border-top: 1px solid #d5d5d5;
}

.direction-list a{
    width: 121px;
    border-top: 0;
}

.one-list a{
    width: 100%;
}

.textbox-addon{
    right: 30px!important;
}

.calendar-control .textbox-label {
    width: 32px;
}

.time-select .textbox {
    width: 132px !important;
}

.time-select .textbox .textbox-text{
    padding: 0 0 0 42px;
}

.minute-select,
.half-minute-select{
    margin-left: 10px;
}
.half-minute-select{
    display: none;
}

.minute-select .textbox,
.half-minute-select .textbox{

    width: 140px!important;
}