.first-menu{
    border-bottom: 0;
    z-index: 10;
}

.first-menu:after{
    content: '';
    width: 7px;
    height: 11px;
    display: block;
    position: absolute;
    top: 15px;
    right: 40px;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: url("../images/drop-down.png") no-repeat;
}

.first-menu.selected:after{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.first-menu.selected .active{
    background: url("../images/aside-menu-bg.png") repeat-x;
}

.first-menu.selected .active a{
    color: #ffffff;
}

.first-menu-title{
    border-bottom: 1px solid #f1f1f1;
}

.second-nav{
    display: none;
}

.second-menu {
    border-bottom: 1px dotted #dfdfdf;
    background: #fbfbfb;
}

.second-menu a{
    padding-left: 60px;
    color: #838383;
    font-size: 14px;
}

.area-title{
    margin-right: 8px;
    line-height: 28px;
    float: left;
    color: #838383;
    font-size: 14px;
}

.area-name{
    float: left;
}

.area-name a{
    float: left;
    position: relative;
    background: url("../images/block-line.png") no-repeat right;
}

.area-name a:last-child {
    background: none;
}

.area-name a.action:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("../images/block-bged.png") repeat-x;
}

.start-date,
.end-date{
    margin-right: 0;
}

.time-split{
    width: 30px;
    text-align: center;
    float: left;
    line-height: 26px;
    position: relative;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    color: #838383;
    font-size: 20px;
    background: url("../images/operate-bg.png") repeat-x;
}

.time-split:before,
.time-split:after{
    content: '';
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    background: url("../images/block-line.png") no-repeat;
}

.time-split:before{
    left: 0;
}

.time-split:after{
    right: 0;
}

.calendar-control .textbox{
    border-right: 0;
    border-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.start-date .textbox{
    border-left: 1px solid #d5d5d5;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.calendar-control .textbox-label{
    width: 66px;
}

.time-select {
    position: relative;
    background: url("../images/block-line.png") no-repeat left;
}

.time-select:after{
    content: '';
    width: 2px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/block-line.png") no-repeat;
}

.time-select .textbox{
    width: 67px!important;
    border-left: 0;
    border-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.time-select .textbox .textbox-text {
    padding: 0 0 0 10px;
}

.end-time-select .textbox {
    border-right: 1px solid #d5d5d5;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.monitor{
    width: 100%;
    border-right: 1px solid #dddddd;
}

.monitor .collect{
    padding-left: 15px;
}

.monitor .gather{
    color: #3f9fff;
    background: url("../images/collect-gather.png") no-repeat center left;
}

.monitor .failure{
    color: #ee0000;
    background: url("../images/collect-failure.png") no-repeat center left;
}

.monitor .success{
    color: #2c9d00;
    background: url("../images/collect-success.png") no-repeat center left;
}

.monitor .collect-refresh{
    width: 90px;
    line-height: 24px;
    padding-left: 15px;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    background: url("../images/operate-bg.png") repeat-x;
}

.monitor .collect-refresh:after{
    content: '';
    width: 10px;
    height: 12px;
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    background: url("../images/collect-refresh.png") no-repeat center left;
}

.monitor .datagrid .panel-body {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #F9F9F9;
}

.monitor .datagrid-btable{
    width: 100%;
}

.monitor .datagrid-header {
    border: 0;
    background: #f3f3f3;
}

.monitor .datagrid-row-alt{
    background: #f3f3f3;
}

.monitor .datagrid-header-inner{
    background: url("../images/tr-bg.png") repeat-x bottom;
}

.monitor .datagrid-header td {
    color: #3a3a3a;
    border-width: 0;
    background: url("../images/td-bg.png") repeat-y left;
}

.monitor .datagrid-body td{
    border-width: 0;
    color: #838383;
    background: url("../images/td-bg.png") repeat-y left;
}

.monitor .datagrid-header td:first-child,
.monitor .datagrid-body td:first-child{
    background: none;
}

.monitor .pagination-page-list{
    width: 52px;
    height: 28px;
    margin: 0 9px;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;*/
    background: url("../images/operate-bg.png") repeat-x;
}

.monitor .pagination-page-list,
.monitor .pagination-info,
.monitor .pagination span{
    color: #838383;
    font-size: 12px;
}

.monitor .pagination-info{
    margin-right: 30px;
}

.monitor .pagination .pagination-num{
    width: 24px;
    height: 24px;
    margin: 0 5px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    background: url("../images/page-bg.png") repeat-x;
}

.monitor .l-btn-disabled,
.monitor .l-btn-disabled:hover{
    opacity: 1;
}

.monitor .l-btn-icon{
    width: 5px;
    height: 8px;
    margin-top: -4px;
    left: 10px;
    background: url("../images/pagination_icons.png") no-repeat;
}

.monitor .pagination-first{
    width: 6px;
    opacity: 1;
    background-position: 0 center;
}

.monitor .l-btn-disabled .pagination-first{
    background-position: -42px center;
}

.monitor .pagination-prev {
    background-position: -8px center;
}

.monitor .l-btn-disabled .pagination-prev {
    background-position: -50px center;
}

.monitor .pagination-next {
    background-position: -15px center;
}

.monitor .l-btn-disabled .pagination-next {
    background-position: -57px center;
}

.monitor .pagination-last{
    width: 6px;
    background-position: -22px center;
}

.monitor .l-btn-disabled .pagination-last{
    width: 6px;
    background-position: -64px center;
}

.monitor .pagination-load{
    width: 10px;
    height: 10px;
    margin-top: -5px;
    background-position: -30px center;
}

.monitor .l-btn-plain:hover{
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url("../images/operate-bg.png") repeat-x;
}
.operate-left{
    display: none;
}
