.nav {
    background: none;
}

.nav ul li.nav-observe a {
    background: url("../images/menu-icon6.png") no-repeat left;
}

.nav ul li.action.nav-observe:after {
    background: url("../images/nav-bg148.png") no-repeat center/cover !important;
}

.map-wrapper {
    top: 58px;
}

.right {
    height: 100%;
}

.date {
    margin: 30px 0;
    border: 1px solid #26668a;
}

.layer {
    margin: 0;
}

.btn a {
    width: 203px;
    margin-left: 5%;
}

.map-loading {
    color: #1eaff8;
    font-size: 16px;
    position: absolute;
    left: 42% !important;
    top: 420px !important;
    z-index: 111;
}

.date-box .textbox {
    width: 128px !important;
}

.date-box .textbox-label {
    width: 32px;
}

.hour-select {
    width: 65px;
    position: relative;
}

.hour-select span {
    height: 30px;
    padding-left: 5px;
}

.hour-select span:after {
    right: 5px;
}

.hour-select ul {
    width: 65px;
    height: 400px;
    overflow: auto;
    position: absolute;
    top: 30px;
}

.hour-select ul li {
    padding: 0;
    text-align: center;
}