.map-wrapper {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
}

.map {
    width: 100%;
    height: 100%;
}

.map-title {
    color: #1eaff8;
    font-size: 16px;
    position: absolute;
    left: 38%;
    top: 60px;
    z-index: 111;
}

.map-loading {
    color: #1eaff8;
    font-size: 16px;
    position: absolute;
    left: 62%;
    top: 350px;
    z-index: 111;
}

.map-loading-info {
    color: #1eaff8;
    font-size: 16px;
    position: absolute;
    left: 62%;
    top: 340px;
    z-index: 111;
}

.load-img {
    height: 50px;
}

.main {
    padding: 0 10px;
    position: relative;
}

.left {
    width: 37%;
    /*width: 705px;*/
    height: 680px;
    position: relative;
    background: #0a5070;
    z-index: 111;
}

.theme {
    width: 49.95%;
    /*width: 352px;*/
    float: left;
    position: relative;
    background: #26668a;
}

.theme:nth-of-type(2n) {
    float: right;
}

.theme-raindrop {
    width: 100%;
    height: 248px;
    border-bottom: 1px solid #26668a;
}

.theme-raindrop .theme-content {
    height: 229px;
}

.title {
    height: 24px;
    line-height: 24px;
    position: relative;
}

.title h2 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.title-tab {
    position: absolute;
    top: 2px;
    right: 0;
}

.title-tab li {
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    float: left;
    cursor: pointer;
}

.title-tab li.action {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #1fb3ff;
}

.theme-area {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 32px;
}

.theme-area a {
    padding: 0 8px;
    line-height: 20px;
    float: left;
    color: #ffffff;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.theme-area a.action,
.theme-title a.action {
    background: #1fb3ff;
}

.theme-area a:first-child,
.theme-title a:first-child {
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.theme-area a:last-child,
.theme-title a:last-child {
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

.theme-border {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

.theme-area-table {
    margin: 0 auto;
    display: table;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(6, 53, 75, 0.9);
}

.theme-title {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5px;
}

.theme-title a {
    padding: 0 8px;
    line-height: 20px;
    float: left;
    color: #ffffff;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.theme-content {
    /*width: 350px;*/
    height: 190px;
    overflow: hidden;
    background: #084A68;
    border: 1px solid #26668a;
}

.theme-chart {
    height: 100%;
    display: none;
    text-align: center;
}

.theme-chart img {
    height: 100%;
    /*width: 100%;*/
}

.theme-area-chart {
    height: 100%;
    display: none;
}

.rain-chat {
    background: #26668a;
}

.right {
    width: 276px;
    height: 680px;
    position: relative;
    z-index: 111;
}

.time {
    margin-top: 22px;
    margin-bottom: 20px;
    padding-left: 12px;
    position: relative;
}

.time .time-font {
    letter-spacing: 1px;
    font-family: "fzcjt";
    color: #1fb3ff;
    font-size: 24px;
}

.current-date span {
    font-size: 20px;
}

.current-date .time-week {
    font-size: 16px;
    font-family: "微软雅黑";
}

.refresh {
    position: absolute;
    top: 17px;
    right: 10px;
    font-size: 14px;
    color: #1fb3ff;
}

.refresh a {
    width: 19px;
    height: 12px;
    margin-left: 6px;
    margin-top: 4px;
    position: relative;
    display: inline-block;
    background: #1fb3ff;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.refresh a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background: #ffffff;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.refresh-off a {
    background: #4f606f;
}

.refresh-off a:after {
    right: auto;
    left: 0;
}

.rainfall {
    position: relative;
}

.rainfall-tab {
    width: 100%;
    height: 32px;
    background: #26668a;
}

.rainfall-tab ul {
    margin: 0 auto;
    display: table;
}

.rainfall-tab ul li {
    padding: 0 10px;
    line-height: 32px;
    float: left;
    cursor: pointer;
    background: url("../images/line2.png") no-repeat left;
}

.rainfall-tab ul li:first-child {
    background: none;
}

.rainfall-tab ul li.action {
    color: #1fb3ff;
}

.rainfall-content {
    height: 210px;
    padding: 20px 0 0 22px;
    border: 1px solid #26668a;
}

.rainfall-information {
    display: none;
}

.rainfall-border {
    padding-top: 13px;
    position: relative;
}

.rainfall-border:before {
    content: '';
    width: 230px;
    height: 2px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/border.png") no-repeat center/cover;
}

.rainfall-radio {
    width: 114px;
    margin-bottom: 5px;
    float: left;
    position: relative;
}

.rainfall-radio input[type=radio] {
    opacity: 0;
    margin-top: 5px;
}

.rainfall-radio label {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

.rainfall-radio label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: -16px;
    top: 5px;
    background: url(../images/radio.png) no-repeat center;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.rainfall-radio input[type="radio"]:checked + label::before {
    background: url(../images/radioed.png) no-repeat center;
}

.rainfall-width {
    width: 132px;
}

.date {
    margin: 4px 0;
    padding: 20px;
    position: relative;
}

.date-box {
    margin-bottom: 14px;
}

.date-box .textbox {
    width: 190px !important;
    background: #0f678f;
    border: 1px solid #4287b0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.date-box .textbox-label {
    width: 42px;
}

.date-box .textbox .textbox-prompt,
.date-box .textbox .textbox-text:focus {
    text-align: center;
    background: none;
    color: #ffffff;
    font-size: 14px;
}

.date-box .textbox .textbox-text {
    padding: 0;
    text-align: center;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #ffffff;
    font-size: 14px;
}

.date-box .datebox .combo-arrow {
    width: 14px !important;
    height: 14px !important;
    opacity: 1;
    background: url("../images/calendar.png") no-repeat center center;
}

.date-box .textbox-addon {
    top: 7px !important;
    right: 10px !important;
}

.btn {
    padding-left: 20px;
    text-align: center;
}

.btn a {
    width: 60px;
    height: 28px;
    margin-left: 15px;
    line-height: 28px;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    background: #1fb3ff;
}

.btn a:hover {
    color: #ffffff;
    background: #1fb3ff;
    border: 0;
}

.text {
    padding: 18px 22px 21px 22px;
}

.font {
    margin-bottom: 20px;
    padding-left: 23px;
    color: #ffffff;
    font-size: 16px;
    background: url("../images/threshold.png") no-repeat left;
}

.threshold .textbox {
    width: 152px !important;
    height: 28px;
    border: 1px solid #4287b0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #0c506f;
}

.threshold .textbox .textbox-text {
    text-align: center;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #ffffff;
    font-size: 16px;
}

.threshold .textbox .textbox-button-left {
    border-right: 1px solid #4287b0;
    background: none;
}

.threshold .textbox .textbox-button-right {
    border-left: 1px solid #4287b0;
    background: none;
}

.threshold .spinner-button-down {
    background: url(../images/symbol.png) no-repeat 2px center;
}

.threshold .spinner-button-up {
    background: url(../images/symbol.png) no-repeat -17px center;
}

.threshold-txt .easyui-linkbutton {
    width: 60px;
    height: 28px;
    line-height: 28px;
    float: right;
    border: 0;
    color: #ffffff;
    font-size: 14px;
    background: #1fb3ff;
}

.layer {
    margin-top: 30px;
    padding: 0 0 21px 0;
    border: 1px solid #26668a;
}

.layer .font {
    padding-left: 45px;
    line-height: 32px;
    background: url(../images/layer.png) no-repeat 23px #26668a;
}

.layer .layer-txt {
    padding-left: 22px;
}

.layer .layer-box {
    margin-right: 15px;
    float: left;
}

.layer .layer-box input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.layer .layer-box label {
    margin-bottom: 10px;
    padding-left: 8px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
}

.layer .layer-box label:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: -17px;
    top: 3px;
    background: url(../images/check.png) no-repeat center;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.layer .layer-box input[type="checkbox"]:checked + label:after {
    background: url(../images/checked.png) no-repeat center;
}

.bottom {
    width: 100%;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    z-index: 111;
}

.color {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    display: inline-block;
}

.green {
    background: #009e0f;
}

.orange {
    background: #ff9900;
}

.red {
    background: #cf2a27;
}

.gray {
    background-color: #aaaaaa;
}

.type {
    width: 6.25%;
    margin-left: -3.125%;
    position: absolute;
    left: 50%;
    text-align: center;
    display: table;
}

.type-txt {
    width: 40px;
    margin-right: 5px;
    display: inline-block;
    text-align: right;
}

.type-box {
    margin-bottom: 16px;
}

.slide {
    position: relative;
}

.slide .angle1,
.slide .angle2 {
    top: 30px;
}

.slide .angle3,
.slide .angle4 {
    bottom: -2px;
}

.slide-title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #26668a;
}

.slide-tab {
    margin-left: 155px;
}

.slide-tab .swiper-slide {
    text-align: center;
    background: url(../images/line2.png) no-repeat 3px 6px;;
}

.slide-tab .slide-time {
    line-height: 28px;
}

.slide-tab .slide-state,
.slide-tab .slide-des {
    line-height: 24px;
    color: #1fb3ff;
}

.slide-tab .slide-des .color {
    margin-top: 6px;
}

.slide-tab .swiper-button-prev,
.slide-tab .swiper-button-next {
    width: 14px;
    height: 14px;
    margin: 0;
    top: 7px;
}

.slide-tab .swiper-button-prev {
    background: url("../images/prev.png") no-repeat;
}

.slide-tab .swiper-button-next {
    background: url("../images/next.png") no-repeat;
}

.slide-time-txt {
    padding-left: 66px;
    line-height: 28px;
    background: #26668a;
    /*text-align: center;*/
}

.slide-txt {
    padding-left: 24px;
    line-height: 24px;
    background: #0b4864;
    color: #1fb3ff;
    border-left: 1px solid #26668a;
    border-right: 1px solid #26668a;
}

.slide-txt-blue {
    background: #0b4d6c;
}

.slide-line {
    margin-top: 2px;
    border-top: 1px solid #26668a;
}

.panel-htop {
    width: 190px !important;
}

.datebox-calendar-inner {
    height: 190px;
}

.calendar table td {
    height: 24px;
}

.calendar table td, .calendar table th, .calendar-title span {
    font-size: 12px;
}

.calendar-header, .calendar-title {
    height: 22px;
}

.calendar-title span {
    height: 22px;
    line-height: 22px;
}

.color-wrapper {
    width: 80px;
    position: absolute;
    right: 300px;
    bottom: 210px;
    z-index: 100;
    cursor: default;
}

.color-value {
    margin-top: 10px;
    margin-left: 3px;
}

.color-value div {
    height: 18px;
    font-size: 12px;
}

.color-value span {
    position: relative;
    top: 10px;
}

.color-gradient {
    margin-top: 10px;
}

.color-gradient span {
    width: 18px;
    height: 12px;
    margin-bottom: 6px;
    display: block;
    /*border: 1px solid #333333;*/
    border-top: 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.district-name-label {
    width: 100px !important;
    font-weight: normal !important;
    color: #0c658f;
}

.name-label {
    width: 60px !important;
    color: #707070 !important;
    font-size: 12px !important;
    margin-top: 2px !important;
    margin-left: -30px !important;
    font-family: 'Microsoft YaHei' !important;
    text-align: center;
}

.text-shadow {
    text-shadow: -1px 0px 0px #ffffff, 0px -1px 0px #ffffff, 1px 0px 0px #ffffff, 0px 1px 0px #ffffff;
}

.value-label {
    width: 60px !important;
    color: #010205 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    margin-top: -18px !important;
    margin-left: -10px !important;
    font-family: 'Microsoft YaHei' !important;
}

.polyline-color {
    color: black !important;
}

.timeHeight {
    line-height: 22px !important;
}

.dataHeight {
    line-height: 20px !important;
}