* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 12px;
    color: #ffffff;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    max-width: 100%;
    min-width: 1200px;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: "微软雅黑";
    background: #084a68;
}

table {
    border-collapse: collapse;
}

td, th {
    vertical-align: middle;
}

img {
    height: auto;
    border: none;
    display: inline-block;
}

img,
input,
textarea,
select,
span,
button {
    outline: none;
}

textarea {
    resize: none;
}

a {
    display: block;
    text-decoration: none;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 12px;
}

i, em {
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
    font-size: 16px;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    font-size: 16px;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
    font-size: 16px;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: url("../images/login-bg.jpg") no-repeat center bottom;
}

.login-content {
    width: 800px;
    height: 470px;
    margin-top: -235px;
    margin-left: -400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url("../images/login.png") no-repeat center/cover;
}

.login {
    width: 400px;
    margin-left: 400px;
}

.login form {
    width: 300px;
    margin: 0 auto;
}

.login-block {
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 30px;
    line-height: 40px;
    float: left;
    display: block;
    border-bottom: 1px solid #4b87a9;
    color: #ffffff;
    font-size: 16px;
    background: url("../images/login-user.png") no-repeat left;
}

.login-password input {
    background: url("../images/login-password.png") no-repeat left;
}

.login-submit {
    width: 100%;
}

.login-submit input {
    width: 100%;
    line-height: 38px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #1fb3ff;
}

.login-title {
    margin-top: 66px;
    margin-bottom: 40px;
    text-align: center;
}