<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.nanjing.weather.dao.PressureMapper">

    <resultMap id="findAllBySomeMap" type="com.nanjing.weather.entity.Pressure">
        <result column="station_id" property="stationId"/>
        <collection property="pressureCenter" ofType="com.nanjing.weather.entity.PressureCenter">
            <result column="value" property="value"/>
            <result column="routine_time" property="routineTime"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="findAllBySomeTerm" resultMap="findAllBySomeMap">
        SELECT * from pressures where 1 = 1
        <if test="createTime != null and routineTime != null">
            and routine_time BETWEEN #{createTime} AND #{routineTime}
        </if>
        <if test="createTime == null and routineTime == null">
            and routine_time = (SELECT max(routine_time) FROM `pressures`)
        </if>
        <if test="createTime == null and routineTime != null">
            and create_time BETWEEN (SELECT date_sub(NOW(),interval #{routineTime} hour)) and NOW()
        </if>
    </select>
</mapper>