<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.nanjing.weather.dao.ProductCategoryRegionRelsMapper">
    <select id="findByCategoryCode" resultType="com.nanjing.weather.domain.ProductCategoryRegionRels" parameterType="String">

select code categoryCode, name  FROM product_regions  INNER JOIN product_category_region_rels ON product_regions.code=product_category_region_rels.region_code where category_code=#{category_code}

    </select>
</mapper>