<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.nanjing.weather.dao.TemperaturesMapper">

    <!-- 定义映射map-->
    <resultMap id="MaxTem" type="com.nanjing.weather.domain.Temperatures">
        <id column="station_id"  property="station_Id" />
        <result column="max_value"  property="value" />
    </resultMap>

    <resultMap id="MinTem" type="com.nanjing.weather.domain.Temperatures">
        <id column="station_id"  property="station_Id" />
        <result column="min_value"  property="value" />
    </resultMap>

    <select id="findAll" resultType="com.nanjing.weather.domain.Temperatures">
        SELECT * from temperatures where routine_time = (SELECT max(routine_time) FROM `temperatures`) and create_time BETWEEN (SELECT date_sub(NOW(),interval #{0} hour)) and NOW() and value >= #{1};
    </select>

    <select id="findTemperaturesByid" parameterType="String" resultType="com.nanjing.weather.domain.Temperatures">
        select  * from temperatures where  station_id=#{id};
    </select>

    <insert id="add" parameterType="com.nanjing.weather.domain.Temperatures">
       INSERT INTO `temperatures` (`station_id`, `value`, `routine_time`, `create_time`) VALUES (#{id},#{value}, #{routine_time}, #{create_time});
    </insert>

    <delete id="delete" parameterType="String">
      delete  from `temperatures`where  station_id=#{id};
</delete>

    <update id="update" parameterType="com.nanjing.weather.domain.Temperatures">
       UPDATE `temperatures` SET `station_id`=#{id}, `value`=#{value}, `data_time`=#{routine_time}, `create_time`=#{create_time} WHERE station_id=#{id} ;

    </update>

    <select id="findAllByTemHigh" parameterType="Integer" resultType="com.nanjing.weather.domain.Temperatures">
      SELECT * from temperatures where routine_time = (SELECT max(routine_time) FROM `temperatures`) and  value &gt;= #{id};
    </select>

    <select id="findAllByTemLow" parameterType="Integer" resultType="com.nanjing.weather.domain.Temperatures">
      SELECT * from temperatures where routine_time = (SELECT max(routine_time) FROM `temperatures`) and  value &lt;= #{id};
    </select>

    <select id="findAllByTemHHigh" parameterType="Integer" resultMap="MaxTem">
      SELECT * from temperatures_min_max where routine_time = (SELECT max(routine_time) FROM `temperatures`) and  max_value &gt;= #{id};
    </select>

    <select id="findAllByTemHLow" parameterType="Integer" resultMap="MaxTem">
      SELECT * from temperatures_min_max where routine_time = (SELECT max(routine_time) FROM `temperatures`) and  max_value &lt;= #{id};
    </select>

    <select id="findAllByTemLHigh" parameterType="Integer" resultMap="MinTem">
      SELECT * from temperatures_min_max where routine_time = (SELECT max(routine_time) FROM `temperatures`) and  min_value &gt;= #{id};
    </select>

    <select id="findAllByTemLLow" parameterType="Integer" resultMap="MinTem">
      SELECT * from temperatures_min_max where routine_time = (SELECT max(routine_time) FROM `temperatures`) and  min_value &lt;= #{id};
    </select>

    <select id="findAllByTemTHigh" resultType="com.nanjing.weather.domain.Temperatures">
      SELECT * FROM temperatures where create_time BETWEEN (SELECT date_sub(NOW(),interval #{0} hour)) and NOW() and value &gt;= #{1};
    </select>

    <select id="findAllByTemTLow" resultType="com.nanjing.weather.domain.Temperatures">
      SELECT * FROM temperatures where create_time BETWEEN (SELECT date_sub(NOW(),interval #{0} hour)) and NOW() and value &lt;= #{1};
    </select>

    <resultMap id="findAllBySomeDataHHMap" type="com.nanjing.weather.entity.Temperature">
        <result column="station_id" property="stationId"/>
        <collection property="temperatureCenter" ofType="com.nanjing.weather.entity.TemperatureCenter">
            <result column="value" property="value"/>
            <result column="routine_time" property="routineTime"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>
    
    <select id="findAllBySomeDataHH" parameterType="com.nanjing.weather.entity.TemperatureCenter" resultMap="findAllBySomeDataHHMap">
        SELECT * FROM temperatures where 1 = 1
        <if test="value != null">
            and value >= #{value}
        </if>
        <if test="createTime != null and routineTime != null">
            and routine_time BETWEEN #{createTime} AND #{routineTime}
        </if>
        <if test="createTime == null and routineTime == null">
            and routine_time = (SELECT max(routine_time) FROM `temperatures`)
        </if>
        <if test="createTime == null and routineTime != null">
            and create_time BETWEEN (SELECT date_sub(NOW(),interval #{routineTime} hour)) and NOW()
        </if>
    </select>

    <select id="findAllBySomeDataHh" parameterType="com.nanjing.weather.entity.TemperatureCenter" resultMap="findAllBySomeDataHHMap">
        SELECT * FROM temperatures where 1 = 1
        <if test="value != null">
            and value &lt; #{value}
        </if>
        <if test="createTime != null and routineTime != null">
            and routine_time BETWEEN #{createTime} AND #{routineTime}
        </if>
        <if test="createTime == null and routineTime == null">
            and routine_time = (SELECT max(routine_time) FROM `temperatures`)
        </if>
        <if test="createTime == null and routineTime != null">
            and create_time BETWEEN (SELECT date_sub(NOW(),interval #{routineTime} hour)) and NOW()
        </if>

    </select>

    <resultMap id="findAllBySomeDatahhMap" type="com.nanjing.weather.entity.Temperature">
        <result column="station_id" property="stationId"/>
        <collection property="temperatureNinMaxe" ofType="com.nanjing.weather.entity.TemperatureNinMax">
            <result column="min_value" property="minValue"/>
            <result column="max_value" property="maxValue"/>
            <result column="routine_time" property="routineTime"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="findAllBySomeDatahh" parameterType="com.nanjing.weather.entity.TemperatureNinMax" resultMap="findAllBySomeDatahhMap">
        SELECT * FROM temperatures_min_max where 1 = 1
        <if test="maxValue != null">
            and max_value >= #{maxValue}
        </if>
        <if test="minValue != null">
            and min_value >= #{minValue}
        </if>
        <if test="createTime != null and routineTime != null">
            and routine_time BETWEEN #{createTime} AND #{routineTime}
        </if>
        <if test="createTime == null and routineTime == null">
            and routine_time = (SELECT max(routine_time) FROM `temperatures`)
        </if>
    </select>

    <select id="findAllBySomeDatahH" parameterType="com.nanjing.weather.entity.TemperatureNinMax" resultMap="findAllBySomeDatahhMap">
        SELECT * FROM temperatures_min_max where 1 = 1
        <if test="maxValue != null">
            and max_value &lt; #{maxValue}
        </if>
        <if test="minValue != null">
            and min_value &lt; #{minValue}
        </if>
        <if test="createTime != null and routineTime != null">
            and routine_time BETWEEN #{createTime} AND #{routineTime}
        </if>
        <if test="createTime == null and routineTime == null">
            and routine_time = (SELECT max(routine_time) FROM `temperatures`)
        </if>
    </select>

</mapper>