<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.nanjing.weather.dao.UserMapper">
    <select id="findUserById" resultType="com.nanjing.weather.domain.User">
    SELECT * from `sys_user` where id = #{id}
</select>

    <select id="findUserList" resultType="com.nanjing.weather.domain.User">
    SELECT * from `sys_user`
    </select>

    <insert id="add" parameterType="com.nanjing.weather.domain.User">
          INSERT INTO `sys_user` (
            `id`,
            `username`,
            `password`,
        )
        VALUES
            (
                #{id},
                #{username},
                #{password},
            )

    </insert>
</mapper>