<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.nanjing.weather.dao.WindsMapper">

    <select id="demo" parameterType="String" resultType="com.nanjing.weather.domain.Winds">
        SELECT * from #{0} where 1 = 1
        <if test="routine_time != null">
            and routine_time = '2018-11-26 22:05:00'
        </if>
    </select>

    <!-- 定义条件查询后的结果映射 -->
    <resultMap id="findAllBySomeTermMap" type="com.nanjing.weather.entity.Wind">
        <result column="station_id" property="stationId"/>
        <collection property="windCenter" ofType="com.nanjing.weather.entity.WindCenter">
            <result column="speed" property="speed"/>
            <result column="direction" property="direction"/>
            <result column="speed_2min" property="speedTwoMin"/>
            <result column="direction_2min" property="directionTwoMin"/>
            <result column="speed_10min" property="speedTenMin"/>
            <result column="direction_10min" property="directionTenMin"/>
            <result column="routine_time" property="routineTime"/>
            <result column="create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="findAllBySomeTerm" parameterType="com.nanjing.weather.entity.WindCenter"
            resultMap="findAllBySomeTermMap">
        SELECT * from winds where 1 = 1
        <if test="createTime != null and routineTime != null">
            and routine_time BETWEEN #{createTime} AND #{routineTime}
        </if>
        <if test="createTime == null and routineTime == null">
            and routine_time = (SELECT max(routine_time) FROM `winds`)
        </if>
        <if test="speed != null">
            and speed >= #{speed}
        </if>
        <if test="speedTwoMin != null">
            and speed_2min >= #{speedTwoMin}
        </if>
        <if test="speedTenMin != null">
            and speed_10min >= #{speedTenMin}
        </if>
    </select>
</mapper>